/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #FFF5AE;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #C2CC8A;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
/* .glyphicon {
    font-size:25px;
    color: #695E54;
} */
/* .btn-group {
    background-color: white; 
    border: 1px solid black;
    color: white; 
    padding: 10px 24px;
    cursor: pointer;
    float: left; 
} */

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
/* .btn-group button:hover {
    background-color: #CAA9FF;
} */
